@import "src/styles/mixins"

.loginPage__container
  position: relative
  display: flex
  justify-content: space-between
  height: 80vh
  width: 60vw
  max-width: 1280px
  max-height: 980px
  @include persona-box
  @include persona-box-skew
  @include mediaMD
    height: auto
    width: auto
    @include persona-box-skew-off

.loginPage__h1
  
.loginPage__form
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 2rem
  box-sizing: border-box
  &__label
    width: 100%
    margin-bottom: 1rem
    color: $per-white-text
    display: flex
    flex-direction: column
    font-size: 2rem
  &__input
    border: 1rem solid $per-white
    background: transparent
    color: $per-white-text
    font-size: 2rem
    transition: border 0.3s
    &:focus
      outline: 0
      border: 1rem solid $per-red
    &::placeholder
      color: $per-white-text
  &__button
    @include persona-button
  &__footer
    display: flex
    width: 100%
    @include mediaMD
      flex-direction: column
    
  
.loginPage__container_1
  @include persona-strict-1
  

//.loginPage__container_2
//  @include persona-strict
  
