@import "src/styles/mixins"


.loginPage__container
  position: relative
  display: flex
  justify-content: space-between
  height: 80vh
  width: 60vw
  max-width: 1280px
  max-height: 980px
  @include persona-box
  
.loginPage__form
  width: 100%
  
.loginPage__container_1
  @include persona-strict-1
  

//.loginPage__container_2
//  @include persona-strict
  
